@import url(//fonts.googleapis.com/css?family=Playfair+Display:700italic|PT+Sans+Narrow|Vollkorn:400italic,700italic,400,700|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

$font-family-sans-serif: 'Vollkorn', serif;
$headings-font-family: 'Merriweather', serif;
$link-color: #34495e;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$grid-gutter-width: 20px;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

#particles {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: -10;
}

#white-overlay {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: -5;
  background-color: rgba(255, 255, 255, 0.88);
}

#content {
  border-radius: 5px;
  z-index: 10;
  margin-bottom: 40px;
  max-width: 400px;

  .intro {
    margin-top: 60pt;

    p {
      font-size: 10pt;
      margin-top: 0;
      padding: 0 20pt;
    }

    .en {
      text-align: left;
    }

    .kr {
      text-align: left;
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 9pt;
    }
  }

  p {
    @extend .text-center;

    font-size: 14pt;
    margin-top: 120px;

    em {
      font-size: 10pt;
    }
  }

  .kor {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 9pt;

    em {
      font-weight: bold;
    }
  }
}

.container-header {
  @extend .container-fluid;
  height: 400px;
  padding: 0;

  .header {
    .navigation {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      min-width: 100%;
      background-color: rgba(0,0,0,0.5);
      a {
        color: #ecf0f1;
      }
    }
  }

  .title {
     position: absolute;
     top: 20px;
     left: 0;
     min-width: 100%;
     z-index: -1;
    @media (max-width: $screen-xs-max) {
      top: 70px;
    }
    @media (min-width: $screen-sm-min) {
      top: 140px;
    }

    .title-segment {
      h1, h5 {
        padding: 0;
        margin: 0;
      }

      @media (max-width: $screen-xs-max) {
        .heart {
          text-align: center;
        }

        .and {
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .ai {
          text-align: center;
        }
      }

      @media (min-width: $screen-sm-min) {
        height: 140px;
        line-height: 140px;
        h1, h5 {
          display: inline-block;
          vertical-align: middle;
        }

        .heart {
          text-align: right;
          float: right;
        }

        .and {
          text-align: center;
        }

        .ai {
           float: left;
        }
      }
     }
  }

  .subtitle {
    @extend .row;
  }
}

#contacts {
  p {
    font-size: 10pt;
  }
}

.heading {
  @extend .text-center;
  margin: 10px 0 0 0;
}

.subheading {
  @extend .text-center;
  margin: 10px 0 10px 0;
  color: #7f8c8d;
}

/* Custom page footer */
.footer {
  font-size: 10px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: $screen-md-min) {
  .heading {
    margin-top: 20px;
  }

  .container-header {
    height: 350px;
  }

  #content {
    .intro {
      p {
        padding: 0;
      }

      .en {
        text-align: left;
      }

      .kr {
        text-align: right;
      }
    }
  }
}
